<% if (page.data?.title) { %>
<title><%- page.data.title %></title>
<meta property="og:title" content="<%- page.data.title %>" />
<% } %>

<% if (page.data?.description) { %>
<meta name="description" content="<%- page.data.description %>">
<meta property="og:description" content="<%- page.data.description %>" />
<% } %>

<% if (page.data?.pagetype) { %>
  <meta property="og:type" content="<%- page.data.pagetype %>" />
<% } %>

<meta property="og:url" content="<%- site.data.sitedata.websiteurl %>/<%- page.data.slug ? page.data.slug : '' %>" />
<link rel="canonical" href="<%- site.data.sitedata.websiteurl %>/<%- page.data.slug ? page.data.slug : '' %>" />